{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Login
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.message }}
        </div>
    {% endif %}

    <form action ="{{ path('login') }}" method ="post">
        <label for="username"> Usuario:</label>
        <input type ="text" id ="username" name ="_username" value ="{{ last_username }}" />
        <label for="password"> Password :</label>
        <input type ="password" id ="password" name ="_password" />

        <button type ="submit"> login </button>
  </form>
{% endblock %}
