{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Categorias
{% endblock %}

{% block actionBusqueda %}
    {{ path('sanvipop_categorias_buscar') }}
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ path("sanvipop_categorias_nuevo") }}" class="btn btn-primary"><i class="fa fa-plus"> </i> Nuevo</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Operaciones</th>
            </tr>
            </thead>
            <tbody>
            {% for categoria in categorias %}
                <tr>
                    <th scope="row">{{ categoria.id }}</th>
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <a href="{{ path('sanvipop_categorias_eliminar', { id: categoria.id }) }}"><i class="fa fa-trash"> </i></a>
                        <a href="{{ path('sanvipop_categorias_editar', { id: categoria.id }) }}"><i class="fa fa-edit"> </i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
