{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Formulario Productos
{% endblock %}

{% block content %}
    <div class="container">
        {{ form( form , {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
