{% extends "layout.html.twig" %}

{% block title %}
    {{ parent() }} - Productos
{% endblock %}

{% block actionBusqueda %}
    {{ path('sanvipop_productos_buscar') }}
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ path("sanvipop_productos_nuevo") }}" class="btn btn-primary"><i class="fa fa-plus"> </i> Nuevo {{ usuario.username }}</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha alta</th>
                <th scope="col">Categoría</th>
                <th scope="col">Imagen</th>
                <th scope="col">Operaciones</th>
            </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                <tr>
                    <th scope="row">{{ producto.id }}</th>
                    <td>{{ producto.name | upper }}</td>
                    <td>{{ producto.precio | localizedcurrency('EUR', 'es_es') }}</td>
                    <td>{{ producto.fechaAlta | date('d/m/Y') }}</td>
                    <td>{{ producto.categoria | upper }}</td>
                    <td><img src="{{ asset('uploads/products/' ~ producto.imagen) }}" width="100"></td>
                    <td>
                        <a href="{{ path('sanvipop_productos_eliminar', { id: producto.id }) }}"><i class="fa fa-trash"> </i></a>
                        <a href="{{ path('sanvipop_productos_editar', { id: producto.id }) }}"><i class="fa fa-edit"> </i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            {% if numProductosFiltrados != numProductos %}
                <th colspan="4">Mostrando {{ productos | length }} productos de {{ numProductosFiltrados }} filtrados (total {{ numProductos }})</th>
            {% else %}
                <th colspan="4">Mostrando {{ productos | length }} productos de un total de {{ numProductos }}</th>
            {% endif %}
                <th colspan="2">
                    <ul class="pagination">
                        {% set numPaginas = (numProductosFiltrados / numProductosPagina) | round(0,'ceil') %}
                        {% for i in 1..numPaginas %}
                            <li {% if page == i %}class="active"{% endif %}><a href="{{ path('sanvipop_productos') }}?page={{ i }}&busqueda={{ busqueda }}">{{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </th>
            </tfoot>
        </table>
    </div>
{% endblock %}
