<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artículos</title>
</head>
<body>
<ul>
    {% for article in articles %}
        <li>
          Nombre: {{ article.nombre }}
          Precio: {{ article.precio }}
        </li>
    {% endfor %}
</ul>
</body>
</html>