{% extends "base.html.twig" %}

{% block body %}

    <header>
      <h1 class="text-center">Sanvipop</h1>
    </header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
          <a class="navbar-brand" href="{{ path('login') }}">Login</a>
        {% else %}
          <a class="navbar-brand" href="{{ path('logout') }}">{{ app.user.username }} - Logout</a>
        {% endif %}
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ path("sanvipop_productos") }}">Productos</a></li>
          <li><a href="{{ path("sanvipop_categorias") }}">Categorias</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path("sanvipop_productos") }}">Productos</a></li>
              <li><a href="{{ path("sanvipop_categorias") }}">Categorias</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" action="{% block actionBusqueda %}{% endblock %}" method="post">
          <div class="form-group">
            <input type="text" name="busqueda"
                   class="form-control" placeholder="Search"
                   value="{% if busqueda is defined %}{{ busqueda }}{% endif %}">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path("sanvipop_productos") }}">Productos</a></li>
              <li><a href="{{ path("sanvipop_categorias") }}">Categorias</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p class="text-center">Copyright &copy; DWES 2017 - 2018</p>
    </footer>
{% endblock %}
